
 
 .button2{ 
     background-color: white; 
     color: black; 
     padding: 8px 15px; 
     border:2px solid #ebebeb;
     border-radius: 30px;
     font-weight: bold;
     margin-top: 12px;
     cursor: pointer;
     font-size: 16px;
     font-weight: 600; 
     font-style: normal;
     font-family: normal;
     line-height: 22px;
     margin-left: 80px;
   }
   
 
 .button1{
   background-color: #5D3FD3; 
   color: white; 
   padding: 8px 15px; 
   border:2px solid #ebebeb;; 
   border-radius: 30px;
   font-weight: bold;
   font-family: 'Inter';
   margin-top: 12px;
   cursor: pointer;
   margin-left: 900px;
 }
 .ft{  
  
   position: fixed;
   bottom: 20px;
   display: flex;
   justify-content: space-between;
   width: 92%;
   
 }
 .ft1{
  width:80%;
  display: flex;
  justify-content: space-between;
}

  