@tailwind base;
@tailwind components;
@tailwind utilities;


.j:hover {
    /* Change the background color on hover */
    color: #574efa;
  }
  
  .logo{
    margin-left: 20px;
  }
  
  footer {
    border-top: 2px solid #ebebeb; 
    /* width: 160%; */
  }
  
  .content1{
  
    width:85%;
    margin:0 auto;
    margin-top: 20px;
  }
  
  .heading{
   
  width: 700px;
  height: 60px;
  font-style: normal;
  font-weight: 550;
  font-size: 35px;
  line-height: 60px;
  letter-spacing: -0.01em;
  color: #000000;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  }
  .step{
    
  width: 53px;
  height: 28px;
   font-family:sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 28px;
  
  text-align: center;
  letter-spacing: -0.1px;
  
  
  color: #000000;
  
  
  
  flex: none;
  order: 0;
  flex-grow: 0;
  }
  .para{
    width: 780px;
    height: 52px;
    
   
  
    line-height: 18px;
    
    letter-spacing: -0.1px;
  
    
    color: #000000;
    
    
    
   
  }
  .para >p{
    width:90%;
  }
  
  
  
  .image{
    display: flex;
   
    margin: 0 auto;
    margin-top:0px;
    
   /* margin-left: 1px; */
   
  }
  .image > img{
   
   /* border: 1px solid #DAE0E6; */
   border-radius: 24px;
  width:70%;
  height: 300px;
  
  }
  
  /* page 2 */
  .c2{
    justify-content: center;
    margin-left: 290px;
    margin-top:80px;
    
  }
  .page2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:70%;
    margin: 0 auto;
    
  }
  .pg2{
    display: flex;
    align-items: center;
    width:23%;
    height: 83px;
    border: 2px solid #ebebeb;
    margin-top: 40px;
    border-radius: 5px;
  }
  
  .image2 >img{
  width:70%;
  height: 81px;
  
  }
  .a{
    width:70%;
    padding-right: 20px;
  
  }
  .m2{
    margin-top: 20px;
  }
  
  
  
  
  
  /* PAGE 3 */
  
  .page3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:50%;
    margin: 0 auto;
  
  }
  .pg3{
    display: flex;
    align-items: center;
    width:29%;
    height: 83px;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    margin-top: 40px;
  }
  .a3{
    width:40%;
  padding-right: 20px;
   
  }
  .image3>img{
    width:60%;
    height: 81px;
    
    }
    .who{
      /* width: 136px; */
      height: 20px;
      
      /* Text S/Medium */
      
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      /* margin-left: 90px; */
      /* identical to box height, or 143% */
      
      letter-spacing: -0.1px;
      
      /* Gray/25 */
      
      color: #919BA7;
      flex: none;
      order: 0;
      flex-grow: 0;
      }
  
  
  
      .main_btn{
        width: 30%;
        display: flex;
        justify-content: space-between;
      }
      
      .btn{
        border-radius: 100%;
        border: 1px solid black;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
      }
      .right{
        display: flex;
        align-items: center;
      }
      
      .right>div{
        margin-left: 1rem;
      }
  
      .gender{
        display: flex;
       }
       .g{
       display: flex;
       align-items: center;
       padding: 6px 16px;
       justify-content: center;
       /* Base/White */
       
       background: #FFFFFF;
       /* Neutral/700 */
       
       border: 1px solid #DAE0E6;
       border-radius: 89px;
       
       /* Inside auto layout */
       
       flex: none;
       order: 0;
       flex-grow: 0;
       }
       
       .female{
       margin-left: 1rem;
       }
       
       .person{
         margin-left: 10px;
       }
       
       .both{
       box-sizing: border-box;
       margin-left: 1rem;
       /* Auto layout */
       
       display: flex;
       align-items: center;
       padding: 6px 16px;
       
       /* Base/White */
       
       background: #FFFFFF;
       /* Neutral/700 */
       
       border: 1px solid #DAE0E6;
       border-radius: 89px;
       
       /* Inside auto layout */
       
       flex: none;
       order: 2;
       flex-grow: 0;
       }
       .stay{
        width:85%;
        margin: auto;
      }
  
  
  
  
  
  .page4{
    margin-left: 10px;
  }
  
  
  /* page 5 */
  .facility{
    display: flex;
   }
  
  .tv{
    margin-left: 1rem;
  }
  .f1{
    margin-top: 5px;
  }
  .f2{
    margin-top:7px;
  }
  .f3{
    margin-top:5px;
  }
  .standout{
    margin-top: 30px;
  }
  
  