.imageGallery {
    max-width: 800px;
    margin: 0 auto;
    
    
  }
  
  .selectedImage {
    max-width: 100px;
    max-height: 100px;
    margin-top: 16px;
  }
  
  .noImage {
    margin-top: 16px;
    color: red;
  }