.body {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: flex-start;
  padding: 0px;

  width: 296px;
  height: 515px;

  /* Base/White */

  background: #ffffff;
  /* Neutral/700 */

  border: 1px solid #dae0e6;
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.img {
  width: 296px;
  height: 285px;
  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.hname {
  width: 155px;
  height: 28px;
  white-space: nowrap;

  /* Headline XXS/Desktop/Semibold */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */

  /* Base/Black */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 6px;
}

.dates {
  width: 59px;
  height: 20px;
  white-space: nowrap;

  /* Text S/Medium */

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: -0.1px;

  /* Base/Black */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 6px;
}

.about {
  white-space: nowrap;
  height: 100px;

  /* Text S/Regular */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  /* or 143% */

  letter-spacing: -0.1px;

  /* Gray/50 */

  color: #5f6d7e;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
  margin-bottom: 4px;
}

.rate {
  
  /* Text M/Medium */
  white-space: nowrap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  margin-left: 0px;
  text-align: left;
  /* identical to box height, or 147% */

  

  /* Gray/700 */

  color: #272d37;

  /* Inside auto layout */
}

.star {
  box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 0.6rem;
  margin-bottom: 1px;
}
